
.container {
    width: 1300px;
    margin: 0 auto;
    @media (max-width:1400px) {
        width: 1000px;
    }
    @media (max-width:1050px) {
        width: 800px;
    }
    @media (max-width:850px) {
        width: 700px;
    }
    @media (max-width:750px) {
        width: 650px;
    }



}